/* || IMPORTS */
@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import "./media-queries/phone.css" screen and (max-width: 1079px);
@import "./media-queries/tablet.css" screen and (min-width: 481px) and
	(max-width: 1023px);
/* @import "./media-queries/desktop.css" screen and (min-width: 1025px); */

/* || VARIABLES */
:root {
	--dark-grey: #3f3840;
	--mid-grey: #5e5363;
	--light-grey: #918b9a;
	--white-grey: #cac9d9;
	--indigo-border: #331a5d;
	--indigo: #502f97;
	--light-blue-border: #1c656f;
	--light-blue: #2ca0a6;
	--green-border: #236b25;
	--green: #2e9732;
	--orange-border: #6d281e;
	--orange: #bd552b;
	--yellow-border: #86560d;
	--yellow: #cba228;
	--light-pink-border: #7f1a3c;
	--light-pink: #df326c;
	--button-shine: 1px 2px 3px rgba(255, 255, 255, 40%) inset,
		-3px -2px 4px rgba(0, 0, 0, 50%) inset;
	--drop-shadow: 0 1px 4px rgba(0, 0, 0, 60%);
	--main-text: "Quicksand", Arial, Helvetica, sans-serif;
	--header-text: "Limelight", Times, serif;
}

/* || PRIMARY ELEMENTS */
html {
	max-width: 100vw;
	font-family: var(--main-text);
}
body {
	max-width: 100vw;
	display: flex;
	flex-flow: column wrap;
	margin: 0;
	background-color: var(--dark-grey);
}
header {
	box-sizing: border-box;
	max-width: 100vw;
	/* height: min-content; */
	/* max-height: 50vh; */
	display: grid;
	grid-template-columns: min-content 2fr 3fr;
	text-align: center;
	align-items: center;
	margin: auto 3.5vw;
	flex-basis: 30%;
}
main {
	flex-basis: 70%;
}
nav {
	max-width: 100%;
	font-size: 1.25em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	grid-column: 3;
}

footer {
	text-align: center;
	color: var(--mid-grey);
}

/* || SECONDARY ELEMENTS */
h1 {
	font-family: var(--header-text);
	font-size: 3em;
	padding: 0 1.5vw 0 0;
	margin: auto;
	/* text-shadow: 0 2px 5px rgba(0, 0, 0, 70%); */
}
h2 {
	font-family: var(--header-text);
	font-size: 2em;
}
/* || a */
a {
	text-decoration: none;
}
a:link,
a:visited {
	color: var(--white-grey);
	text-shadow: 0 2px 4px rgba(0, 0, 0, 70%);
}
a:hover,
a:active {
	color: var(--white-grey);
	text-shadow: 0 2px 5px rgba(0, 0, 0, 70%), 0 0px 5px var(--white-grey);
}
/* || li */
li {
	list-style: none;
}

/* || CLASSES */
.grid-wrapper {
	display: grid;
	place-content: center;
}
.hidden {
	display: none;
}
.header-logo {
	max-height: 50%;
	margin: 1vh 1vw;
	justify-self: flex-start;
}
.link-btn {
	box-sizing: border-box;
	display: flex;
	place-content: center;
	place-items: center;
	margin: 1vh 2vw;
	min-width: 110px;
	border-radius: 10px;
	box-shadow: var(--button-shine), var(--drop-shadow);
}
.link-btn:hover,
.link-btn:active {
	border-left: 8px solid var(--white-grey);
	flex-grow: 0.8;
	box-shadow: 0 0 4px var(--white-grey), var(--button-shine);
}

.info-article {
}
.info-article-large {
}
.info-title {
}
.info-entry {
}

/* || FONTS */

/* || GRIDS */

/* || OTHER */

.index-bubble {
	background-color: var(--indigo);
	grid-area: i;
}
.html-bubble {
	background-color: var(--light-blue);
	grid-area: h;
}
.css-bubble {
	background-color: var(--green);
	grid-area: c;
}
.js-bubble {
	background-color: var(--orange);
	grid-area: j;
}
.react-bubble {
	background-color: var(--yellow);
	grid-area: d;
}
.create-bubble {
	background-color: var(--light-pink);
	grid-area: o;
}
