@media screen and (min-device-width: 1025px), screen and (min-width: 1025px) {
	header {
		grid-template-columns: min-content 2fr 3fr;
	}
	nav {
		grid-column: 3;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		justify-content: space-evenly;
	}
	nav a {
		/* flex-basis: max-content; */
		/* width: max-content; */
		box-sizing: border-box;
		margin: 1vh 1vw;
	}
	h1 {
		font-size: 4em;
	}
}
