@import "../style.css";
/* || LANDSCAPE */
@media (orientation: landscape) {



}
/* || PORTRAIT */
@media (orientation: portrait) {
nav{
    column-gap: 0;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "i"
    "h"
    "c"
    "j"
    "d"
    "o";
}

}