@import "../style.css";
/* || LANDSCAPE */
@media screen and (orientation: landscape) {
}
/* || PORTRAIT */
@media screen and (orientation: portrait) {
	header {
		grid-template-columns: min-content 2fr 3fr;
	}
	nav {
		height: 100%;
		display: grid;
		grid-column: 3;
		place-self: center;
		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
		grid-template-rows: 1fr 1fr 1fr;
		align-items: center;
		/* justify-content: space-between; */
		grid-template-areas:
			"i h"
			"c j"
			"d o";
	}
	nav a {
		margin: 0.5vh 0.5vw;
		text-align: center;
		align-self: center;
		padding: auto 0;
	}
	h1 {
		font-size: 4em;
	}
}
