/* || IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

/* || VARIABLES */
:root {
    --dark-grey: #40333D;
    --mid-grey: #5E5363;
    --light-grey: #918B9A;
    --white-grey: #CAC9D9;
    --indigo: #5225a0;
    --light-blue: #33AEBA;
    --dark-pink: #A62863;
    --light-pink: #F53575;
    --orange: #DE5B37;
    --yellow: #E3B32D;
    --main-text: "Quicksand", Arial, Helvetica, sans-serif;
    --header-text: "Limelight", Times, serif;
}

/* || PRIMARY ELEMENTS */
main{

}
/* || SECONDARY ELEMENTS */

/* || CLASSES */

/* || FONTS */

/* || GRIDS */

/* || OTHER */