@media screen and (min-width: 1025px) {
	header {
		grid-template-columns: min-content 2fr 3fr;
	}
	nav {
		grid-column: 3;
		/* display: flex;
		flex-wrap: wrap; */
		justify-content: space-between;
	}
	.link-btn {
		/* flex-basis: max-content; */
		/* width: max-content; */
		box-sizing: border-box;
		margin: 1vh 2vw;
	}
	h1 {
		font-size: 4em;
	}
}
