/* @import "../style.css"; */
/* || LANDSCAPE */
@media screen and (max-width: 1079) and (orientation: landscape) {
	body {
		flex-direction: row;
	}
	header {
		max-width: 100%;
		grid-template-columns: min-content 2fr 3fr;
		place-items: center;
	}
	nav {
		display: grid;
		grid-column: 3;
		justify-self: end;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 14vh);
		align-content: stretch;
		grid-template-areas:
			"i h c"
			"j d o";
		/* justify-content: space-between; */
	}
	.link-btn {
		margin: 0.5vh 0.5vw;
		text-align: center;
		align-self: center;
		/* padding: auto 0; */
	}
	.link-text {
		margin: 2vh auto;
	}
	h1 {
		font-size: 4em;
	}
}
/* || PORTRAIT */
@media screen and (max-width: 480px) and (orientation: portrait) {
	header {
		grid-template-columns: min-content 3fr;
	}
	nav {
		max-height: 100%;
		justify-content: center;
		/* grid-column: 3;
		display: grid;
		align-content: center;
		grid-template-columns: minmax(100px, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-template-areas:
			"i"
			"h"
			"c"
			"j"
			"d"
			"o"; */
	}
	h1 {
		font-size: 3.7em;
	}
	.header-logo {
		display: none;
	}
	.link-btn {
		box-sizing: border-box;
		margin: 0.25vh 0;
		/* height: 50px; */
		display: flex;
		place-content: center;
	}
	.link-text {
		margin: 0.5vh 1vw;
	}
}
