@import "../style.css";
/* || LANDSCAPE */
/* @media screen and (orientation: landscape) {

} */
/* || PORTRAIT */
@media screen and (min-width: 481px) and (max-width: 1023px) and (orientation: portrait) {
	header {
		grid-template-columns: min-content 2fr 3fr;
	}
	nav {
		max-height: 100%;
		justify-content: space-between;
		/* display: grid;
		grid-column: 3;
		place-self: center;
		grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr);
		grid-template-rows: 1fr 1fr 1fr;
		align-items: center;
		justify-items: space-between;
		grid-template-areas:
			"i h"
			"c j"
			"d o"; */
	}
	.link-btn {
		margin: 0.5vh 0.5vw;
		text-align: center;
		align-self: center;
		padding: auto 0;
	}
	h1 {
		font-size: 4em;
	}
}
